body{
  background-image: url("https://i.pinimg.com/originals/86/cc/bb/86ccbb5469e5192dbdc7c031ca45d0c2.gif");
  text-align: center;
}

h1
{
  color:white;
}

p{
  color:white;
}

hr{
  height: 50px;
  
}
