body{
  background-image: url("https://thumbs.gfycat.com/NextSourHapuka-small.gif");
  text-align: center;
  font-size:30px;
  padding-top:30px;
  padding-bottom:30px;
}

h1
{
  color:white;
}

.HerStory:h1{
  color: black;
}

p{
  color:white;
}

hr{
  height: 50px;
  border:0;
}

.HerStory
{
  background-image: url("https://thumbs.gfycat.com/ConsciousMadeupDwarfrabbit.webp");
}

.Lockdown{
  background-image:url("https://i.gifer.com/CBgn.gif");
}
.Night{
  background-image: url("https://img.cloudygif.com/medium/05c5b50d938306fe.gif");
}
